:root {
    --background: #101010;
    --text: white;
    --accent: rgb(91, 195, 230);
}

* {
    font-family: "Assistant","Calibri", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--background);
}

.background_overlays, .background_overlays > * {
    height: 100%;
    width: 100%;
    position: absolute;
}

#background_dots {
    background: radial-gradient(circle, var(--background) 0%, var(--background) 94%, rgba(168, 168, 168, 0.1) 100%);
    background-size: 30px 30px;
}

#background_dots_top {
    background: radial-gradient(circle, var(--background) 0%, var(--background) 94%, rgba(206, 206, 206, 0.781) 100%);
    background-size: 30px 30px;
    opacity: 0;
    transition: 0.4s cubic-bezier(.165, .84, .44, 1);
}

body:hover #background_dots_top {
    opacity: 0.5;
}

body:active #background_dots_top {
    opacity: 1;
}

.noise_texture {
    mix-blend-mode: overlay;
    opacity: 0.3;
    background-image: url("../assets/noise-texture.png");
    background-color: aliceblue;
    z-index: 1;
}

/*Nav Bar*/

nav {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 30px 60px;
    display: flex;
    color: var(--text);
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0));
    user-select: none;
}

.nav_content {
    height: 50px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_content > * {
    display: flex;
    flex: 1;
}

.nav_content * {
    white-space: nowrap;
    text-shadow: 0 0 2px rgba(255, 255, 255, 1);
}

/*nav sections*/
.nav_content .nav_links {
    justify-content: flex-end;
}
.nav_content .nav_main {
    justify-content: center;
}
.nav_content .nav_logo {
    justify-content: flex-start;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
    user-select: none;
}

.logo_text {
    font-size: 22px;
    font-weight: 600;
    margin: 10px;
    text-align: center;
}

.navigation_container {
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    gap: 10px;
    padding: 7px;
    border-radius: 29px;
    border: 1px solid rgba(255, 255, 255, 0.25) !important;
    background-image: radial-gradient(circle, rgba(206, 206, 206, 0.0) 0%, rgba(206, 206, 206, 0.05) 90%, rgba(255, 255, 255, 0.3) 100%) !important;
}

.navigation {
    padding: 9px 20px;
    border-radius: 36px;
    text-align: center;
    transition: 0.4s cubic-bezier(.165, .84, .44, 1);
}

.navigation:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav_links_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.nav_link {
    padding: 9px 20px;
    border-radius: 36px;
    transition: 0.4s cubic-bezier(.165, .84, .44, 1);
}

.nav_link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav_link > span {
    margin: 5px;
}

/*Main*/

main {
    position: relative;
    z-index: 2;
}

#hero {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dot_icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--accent);
    box-shadow: 0 0 20px var(--accent);
    transition: 0.4s cubic-bezier(.165, .84, .44, 1);
}

.dot_icon:hover {
    background-color: var(--text);
    box-shadow: 0 0 20px var(--text);
}

.dot_icon.large {
    width: 50px;
    height: 50px;
}


/*Scroll Bar*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background-color: #3b3b3b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #444444;
    width: 15px;
    cursor: grab;
}