:root {
    --background: #101010;
    --text: white;
    --accent: rgb(91, 195, 230);
}

* {
    font-size: "Assistant", sans-serif;
}

html {
    background-color: var(--background);
}

body {
    background: radial-gradient(circle, var(--background) 0%, var(--background) 94%, rgba(168, 168, 168, 0.1) 100%);
    background-size: 30px 30px;
}

nav {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 30px 60px;
    display: flex;
    color: var(--text);
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0));
}

.nav_content {
    height: 50px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero {

}

.assistant-400 {
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}